# check fibanaci series:

In [2]:
a=0
b=1
for i in range(0,5+1):
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3 5

In [3]:
n=int(input("enter number"))
a=0
b=1
for i in range(0,n+1):
    print(a,end=" ")
    a,b=b,a+b
print()

enter number 5

0 1 1 2 3 5

In [4]:
def fibnaci(n):
    a=0
    b=1
    for i in range(0,n+1):
        print(a,end=" ")
        a,b=b,a+b
    print()

fibnaci(5)

0 1 1 2 3 5

In [5]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

n=int(input("enter number"))
if n<=0:
    print("enter positive numbers")
else:
    print("fibnacai series")
    for i in range(n+1):
        print(fib(i),end=" ")

enter number 5

fibnacai series
0 1 1 2 3 5

In [6]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)

fib(5)

5

# Multiplication table

In [8]:
n=int(input("enter number"))
for i in range(n,n*10+1,n):
    print(i)

enter number 5

5
10
15
20
25
30
35
40
45
50

In [9]:
def for_single_table(n):
    for i in range(n,n*10+1,n):
        print(i)

n=int(input("enter number"))
for_single_table(n)

enter number 5

5
10
15
20
25
30
35
40
45
50

In [10]:
s=int(input("enter number"))
e=int(input("enter number"))
for i in range(s,e+1):
    for k in range(i,i*10+1,i):
        print(k,end=" ")
    print()

enter number 5
enter number 6

5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60

In [86]:
s=int(input("enter number"))
e=int(input("enter number"))
for i in range(s,e+1):
    for k in range(1,11):
        print(k*i,end=" ")
    print()

enter number 2
enter number 4

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40

In [207]:
s=int(input("enter number"))
e=int(input("enter number"))
for i in range(1,11):
    for k in range(s,e+1):
        print(k*i,end=" \t")
    print()

enter number 2
enter number 4

2 	3 	4
4 	6 	8
6 	9 	12
8 	12 	16
10 	15 	20
12 	18 	24
14 	21 	28
16 	24 	32
18 	27 	36
20 	30 	40

In [209]:
def for_table(s,e):
    for i in range(1,11):
        for k in range(s,e+1):
            print(k*i,end=" \t")
        print()
for_table(2,7)

2 	3 	4 	5 	6 	7
4 	6 	8 	10 	12 	14
6 	9 	12 	15 	18 	21
8 	12 	16 	20 	24 	28
10 	15 	20 	25 	30 	35
12 	18 	24 	30 	36 	42
14 	21 	28 	35 	42 	49
16 	24 	32 	40 	48 	56
18 	27 	36 	45 	54 	63
20 	30 	40 	50 	60 	70

while syntax
input()
i = 1 # if condition true increase the value of i
while condition:
    operation
    increment & decrement

In [ ]:
n=int(input("enter number"))
i=1
while i<=10:
    print(n," x ",i," =",n*i)
    i+=1

In [ ]:
def while_table(n):
    i=1
    while i<=10:
        print(n," x ",i," =",n*i)
        i+=1
table=int(input("enter number"))
while_table(table)

In [ ]:
n=int(input("enter a number here"))
r=int(input("enter last range here"))
for i in range(1,r*10+1):
    if i%n==0:
        print(i)

In [ ]:
n=int(input("enter a number here"))
k=list(range(n,n*10+1,n))
for i in k:
    print(i)

In [ ]:
n=int(input("enter a number here"))
list(range(n,n*10+1,n))

# prime number

In [211]:
n=int(input("enter number"))
b=1
for i in range(2,n):
    if n%i==0:
        b=0
    
if b==1:
    print("number is prime")
else:
    print("number is not prime")

enter number 11

number is prime

In [213]:
for i in range(0,20):
    for k in range(2,i):
        b=1
        if i%k==0:
            b=0
            break
    if b==1:
        print(i)

0
1
2
3
5
7
11
13
17
19

In [215]:
def isprime(s,e):
    for i in range(s,e+1):
        for k in range(2,i):
            global b
            b=1
            if i%k==0:
                b=0
                break
        if b==1:
            print(i, end=" ")
isprime(1,30)

1 2 3 5 7 11 13 17 19 23 29

In [ ]:
def isnotprime(s,e):
    for i in range(s,e+1):
        for k in range(2,i):
            global b
            b=1
            if i%k==0:
                b=0
                break
        if b!=1:
            print(i, end=" ")
isnotprime(2,30)

# sum of digits of all prime number take 2 input from user as n1 and n2 n1 should be greater than 100 and n2 greater than n1

In [219]:
n1=int(input("enter n1 number"))
n2=int(input("enter n1 number"))

if n1>=100 and n2>n1:
    for i in range(n1,n2+1):
        b=1
        for k in range(2,i):
            if i%k==0:
                b=0
        if b==1:
            a=i
            s=0
            while a>0:
                reminder=a%10
                s=s+reminder
                a=a//10
            print(i,"prime : digit of sum: ",s)
else:
    print("number is invalid")

enter n1 number 153
enter n1 number 240

157 prime : digit of sum:  13
163 prime : digit of sum:  10
167 prime : digit of sum:  14
173 prime : digit of sum:  11
179 prime : digit of sum:  17
181 prime : digit of sum:  10
191 prime : digit of sum:  11
193 prime : digit of sum:  13
197 prime : digit of sum:  17
199 prime : digit of sum:  19
211 prime : digit of sum:  4
223 prime : digit of sum:  7
227 prime : digit of sum:  11
229 prime : digit of sum:  13
233 prime : digit of sum:  8
239 prime : digit of sum:  14

# armstrong number

In [221]:
n=input("enter number")
l=len(n)
n2=""
sum=0
for i in n:
    n2=int(i)
    sum+=int(n2**l)
print(sum)
    
if sum==int(n):
    print("numbe is armstrong")
else:
    print("Number is not armstrong")

enter number 153

153
numbe is armstrong

In [223]:
def armstrong(n):
    j=str(n)
    l=len(j)
    n2=""
    sum=0
    for i in j:
        n2=int(i)
        sum+=int(n2**l)
    print(sum)
        
    if sum==int(j):
        print("numbe is armstrong")
    else:
        print("Number is not armstrong")

armstrong(152)

134
Number is not armstrong

In [ ]:
num =int(input("enter a number here:  "))
num2=str(num)
print(num2, type(num2))

# while part
sum=0
temp=num
while temp>0:
    digit=temp%10 # give reminder of the enter value and store it in digit variable
    cube=digit**len(num2) # cube of the value
    sum=sum+cube # store value of cube in the sum
    temp = temp//10 # floor division will give last value as integer.

if sum==num:
    print("number is armstrong")
else:
    print("number is not armstrong")

In [ ]:
# explanation
num =int(input("enter a number here:  "))
num2=str(num)
print("convert num in string",num2, type(num2))

# while part
sum=0
print(sum)
temp=num
while temp>0:
    digit=temp%10 # give reminder of the enter value and store it in digit variable
    print("store reminder",digit,"\n")
    length=len(num2)
    print("length of the value num",length,"\n")
    cube=digit**length # cube of the value
    print("count len of the digit and multiple it with digit stored value : ",cube,"\n")
    sum=sum+cube # store value of cube in the sum
    print("do the sum of cube value ",sum,"\n")
    temp = temp//10 # floor division will give last value as integer.
    print(temp)

if sum==num:
    print("number is armstrong")
else:
    print("number is not armstrong")

In [ ]:
for num in range(100,10000):
    num2=str(num)
    sum=0
    temp=num
    while temp>0:
        digit=temp%10 
        cube=digit**len(num2) 
        sum=sum+cube 
        temp = temp//10 
    
    if sum==num:
        print(num)
    # else:
    #     print("number is not armstrong")

# sum of digits of all armstrong number take 2 input from user as n1 and n2 n1 should be greater than 100 and n2 greater than n1

In [225]:
n1=int(input("enter n1 number"))
n2=int(input("enter n1 number"))

if n1>=100 and n2>n1:
    for num in range(n1,n2):
        num2=str(num)
        sum=0
        temp=num
        while temp>0:
            digit=temp%10 
            cube=digit**len(num2) 
            sum=sum+cube 
            temp = temp//10 
        
        if sum==num:
            a=num
            ds=0
            while a>0:
                ds=ds+a%10
                a=a//10
            print(num,"Armstrong : digit sum",ds)
else:
    print("Invalid number")

enter n1 number 120
enter n1 number 1000

153 Armstrong : digit sum 9
370 Armstrong : digit sum 10
371 Armstrong : digit sum 11
407 Armstrong : digit sum 11

# factorial

In [ ]:
n=int(input("enter a number here"))
fact=1
for i in range(1,n+1):
    fact=i*fact
print(fact)

In [ ]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=i*fact
    print(fact)

fact(5)

In [ ]:
k=int(input("enter a number here"))
for n in range(1,k+1):
    fact=1
    for i in range(1,n+1):
        fact=i*fact
    print("Factorial of ",i," = ",fact)

# natural numbers

In [229]:
n=int(input("enter a number here"))

if n>=1:
    print("natural number")
else:
    print("not natural numbers")

enter a number here -2

not natural numbers

# square root

In [231]:
n=int(input("enter a number here"))
square_root=n**(1/2)
print("square root of the number",n,"is: ", square_root)

enter a number here 56

square root of the number 56 is:  7.483314773547883

# Question:

In [ ]:
Write a function to group elements of a list based on their lengths and store the result in a dictionary.
Ex = lst = ["a", "bb", "ccc", "dd", "eee"]
Output: {1: ['a'], 2: ['bb', 'dd'], 3: ['ccc', 'eee']}

In [239]:
lst = ["a", "bb", "ccc", "dd", "eee"]
b={}
for i in lst:
    k=len(i)
    if k not in b:
        b[k]=[i]
    else:
        b[k].append(i)
print(b)

{1: ['a'], 2: ['bb', 'dd'], 3: ['ccc', 'eee']}

In [ ]:
8.	Write a function to combine two dictionaries by adding values for common keys.
Ex = dict1 = {'a': 1, 'b': 2, 'c': 3} dict2 = {'b': 3, 'c': 4, 'd': 5} 
#Output: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [249]:
dict1 = {'a': 1, 'b': 2, 'c': 3} 
dict2 = {'b': 3, 'c': 4, 'd': 5} 
# Output= {'a': 1, 'b': 5, 'c': 7, 'd': 5}

dic={}
result= dict1.keys()|dict2.keys()
for i in result:
    dic[i]=dict1.get(i, 0) + dict2.get(i, 0)

print(dic)

{'c': 7, 'd': 5, 'a': 1, 'b': 5}

# swap 2 numbers

In [ ]:
print("swap 2 numbers")
a=25
b=100
a,b=b,a
print(a)
print(b)


print()
print("swap 3 numbers")

a=70
b=10
c=90
a,b,c=c,a,b
print(a)
print(b)
print(c)

In [251]:
def new(x):
    return x**2
new(6)

36

# find number divisible by another number in range

In [ ]:
n=int(input("enter a number here"))
r=int(input("enter last range here"))
for i in range(1,r+1):
    if i%n==0:
        print(i)

# convert user given decimal number into binary, octal, hexadecimal.

In [253]:
n=int(input("enter a number here"))

print(n,"in binary number is: ",bin(n),)
print(n,"in octal number is: ",oct(n),)
print(n,"in hexadecimal number is: ",hex(n),)

enter a number here 5

5 in binary number is:  0b101
5 in octal number is:  0o5
5 in hexadecimal number is:  0x5

# Find the ASCII /numeric value of the character like: A-Z, a-z, or any other symbols like: . ,-, =, %, @

In [255]:
n=input()
print(ord(n))

 a

97

# find the keyboard value on the basis of number entered by user.

In [257]:
n=int(input())
print(chr(n))

 97

a

# find the HCF & LCM /GCD(Greater common divider)

In [ ]:
def findhcf(x,y):
    if x>y:
        smaller = y
    else:
        smaller = x
    for i in range(1,smaller+1):
        if (x%i==0) and (y%i==0):
            hcf=i
    return hcf

print("the hcf of the given 2 number is", findhcf(12,30))

In [ ]:
x=int(input("enter value of x"))
y=int(input("enter value of y"))
print("the hcf of the given 2 number is", findhcf(x,y))

# find factor of the user given number

In [261]:
n=int(input("enter number"))
for i in range(1,n+1):
    if n%i==0:
        print(i)

enter number 30

1
2
3
5
6
10
15
30

# display calender by year and month

In [ ]:
import calendar
year=int(input("enter year"))
month=int(input("enter month"))

cal= calendar.month(year,month)
print(cal)

# convert number to binary number

In [ ]:
def conbinary(n):
    if n > 1:
        conbinary(n//2)
    print(n%2,end="")

conbinary(15)

# add two matrices

In [263]:
a=[ [1,5,8],
   [4,6,7],
   [7,2,3] ]

b=[[4,5,6],
   [8,9,1],
   [3,5,6] ]

result=[[0,0,0],
        [0,0,0], 
        [0,0,0] ]

for i in range(len(a)):
    for j in range(len(a[0])):
        result[i][j]=a[i][j]+b[i][j]

for r in result:
    print(r)

[5, 10, 14]
[12, 15, 8]
[10, 7, 9]

# transpose a matrix

In [265]:
a=[ [1,5,8],
   [4,6,7]]

t=[[0,0],
   [0,0],
   [0,0] ]

for i in range(len(a)):
    for k in range(len(a[0])):
        t[k][i]=a[i][k]
for r in t:
    print(r)

[1, 4]
[5, 6]
[8, 7]

In [ ]:
# using comprehension

a=[ [1,5,8],
   [4,6,7]]

t=[ [a[k][i] for k in range(len(a))] for i in range(len(a[0]))] 
print(t)
print()
for n in t:
    print(n)

# multiply two matrices

In [ ]:
a=[ [1,5,8],
   [4,6,7],
   [7,2,3] ]

b=[[4,5,6,1],
   [8,9,1,4],
   [3,5,6,9] ]

result=[[0,0,0,0],
        [0,0,0,0], 
        [0,0,0,0] ]

for i in range(len(a)):
    print(i,"\n")
    for j in range(len(b[0])):
        print(j,end="\n")
        for k in range(len(b)):
            print(k,end=" ")
            result[i][j]=a[i][k]+b[k][j]

for r in result:
    print("\n",r)

# panlindrom

In [ ]:
text="wow"

text2=text[::-1]
print(text2)

if text==text2:
    print("palindrom")  
else:
    print("not palindrom")

In [ ]:
text="wow"

print(text2)

# remove punctuation

In [267]:
punc="""!@#$%^&*()_+<>',.:;''|\?/{}[`~]-"""

text=input("enter your text here to remove puncutation.")
new=""

for i in text:
    if i not in punc:
        new+=i
print(new)

enter your text here to remove puncutation. nishant kumar "" @

nishant kumar ""

# sort words in the aplhabatic orders.

In [269]:
a="Nishant is a Good boy"
n=a.split()
print(n)
for i in range(len(n)):
    n[i]=n[i].lower()

n.sort()
print(n)

['Nishant', 'is', 'a', 'Good', 'boy']
['a', 'boy', 'good', 'is', 'nishant']

In [271]:
a="Nishant is a Good boy"
a=a.lower()
n=a.split()
for i in range(len(n)):
    n.sort()
print(n)
print()
for k in n:
    print(k)

['a', 'boy', 'good', 'is', 'nishant']

a
boy
good
is
nishant

# illustrate diffrent sets of operators.

In [273]:
a={1,2,3,6,8,9}
b={3,4,5,6,7,8,9}

print("The union between A and B is: ", a | b,"\nRemove duplicate value and combined two list into 1.\n")
print("The intersection between A and B is:  ",a&b, "\ncarry duplicate value\n")
print("The diffrence between A and B is: ",a-b, "\ncheck all Value of A in B if value A not found in B will return non duplicate value of A.\n")
print("the symmetric diffrence between A and B is: ",a^b,"\n remove all duplicate values from A and B and return Non repeting values. \n")

The union between A and B is:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Remove duplicate value and combined two list into 1.

The intersection between A and B is:   {8, 9, 3, 6}
carry duplicate value

The diffrence between A and B is:  {1, 2}
check all Value of A in B if value A not found in B will return non duplicate value of A.

the symmetric diffrence between A and B is:  {1, 2, 4, 5, 7}
 remove all duplicate values from A and B and return Non repeting values.

# count the number of each vowel

In [281]:
vowel="aeiouAEIOU"
txt=input("enter your text here: ")
count=0
for i in txt:
    if i in vowel:
        count+=1
print(count)

enter your text here:  nishant

2

In [283]:
vowel="aeiou"
txt=input("enter your text here: ") # Nishant
txt=txt.casefold() # convert capital letter to small
print(txt)
count={}.fromkeys(vowel,0) # from key help to store value into dictionary

for i in txt: # check value of i in entered text
    if i in count: # check value of i in count as count has dictionary {"a":0, "e":0, "i":0, "o":0, "u":0, }
        count[i]+=1 # if value vowel found than value of i check in dictionary and increase the count {"a":1, "e":0, "i":1, "o":0, "u":0, }
print(count) # print {"a":1, "e":0, "i":1, "o":0, "u":0, }

enter your text here:  Nishant Kumar

nishant kumar
{'a': 2, 'e': 0, 'i': 1, 'o': 0, 'u': 1}

In [ ]:
vowel="aeiou"
txt=input("enter your text here: ") 
txt=txt.casefold() 
print(txt)
count={keys:sum([1 for i in txt if i ==keys]) for keys in vowel }

print(count)

# merge two dictionaries

In [285]:
n={"nishant": 26, "Niks":25}
b={"rahul": 18, "mansi": 16}

print(n|b)

{'nishant': 26, 'Niks': 25, 'rahul': 18, 'mansi': 16}

In [287]:
n={"nishant": 26, "Niks":25}
b={"rahul": 18, "mansi": 16}

print({**n,**b})

{'nishant': 26, 'Niks': 25, 'rahul': 18, 'mansi': 16}

# Access the list using for loop

In [289]:
a=[2,6,89,67,54,45,23]

for k,i in enumerate(a):
    print(k," = ",i)

0  =  2
1  =  6
2  =  89
3  =  67
4  =  54
5  =  45
6  =  23

In [291]:
a=[2,6,89,67,54,45,23]

for i in range(len(a)):
    print(i," - ",a[i])

0  -  2
1  -  6
2  -  89
3  -  67
4  -  54
5  -  45
6  -  23

# iterate over dictionary using for loop

In [293]:
friends={"nishant":"niku", "nikita": "niki", "nidhi": "shivani", "chandan": "golu"}

for k, v in friends.items():
    print(k,":-",v)

nishant :- niku
nikita :- niki
nidhi :- shivani
chandan :- golu

In [295]:
friends={"nishant":"niku", "nikita": "niki", "nidhi": "shivani", "chandan": "golu"}
for i in friends:
    print(i,": ",friends[i])

nishant :  niku
nikita :  niki
nidhi :  shivani
chandan :  golu

# sort dictionary by values.

In [297]:
friends={"chandan": 30, "nishant":26, "nikita": 24, "nidhi": 28,  "niraj": 32}

sv=sorted( friends.items(),key = lambda x:x[1] )
print(sv)

[('nikita', 24), ('nishant', 26), ('nidhi', 28), ('chandan', 30), ('niraj', 32)]

In [299]:
v=sorted(friends.values())
print(v)

[24, 26, 28, 30, 32]

# sort the dictionary by keys

In [301]:
friends={"chandan": 30, "nishant":26, "nikita": 24, "dugu": 28,  "niraj": 32,"aaradhya": 1}

sv=sorted( friends.items(),key = lambda x:x[0] )
print(sv)

[('aaradhya', 1), ('chandan', 30), ('dugu', 28), ('nikita', 24), ('niraj', 32), ('nishant', 26)]

In [303]:
v=sorted(friends.keys())
print(v)

['aaradhya', 'chandan', 'dugu', 'nikita', 'niraj', 'nishant']

# concatenate two lists

In [305]:
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12,13,14,15]

print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [307]:
a=[1,9,3,8,5,6,"a","b","c","d","e"]
b=[3,2,8,9,10,11,"a","f","n",]

a.extend(b)
print(a)

[1, 9, 3, 8, 5, 6, 'a', 'b', 'c', 'd', 'e', 3, 2, 8, 9, 10, 11, 'a', 'f', 'n']

# find uniques values in the two lists

In [309]:
a=[1,9,3,8,5,6,"a","b","c","d","e"]
b=[3,2,8,9,10,11,"a","f","n",]

d=set(a+b)
print(d)

{1, 2, 3, 5, 6, 'b', 8, 9, 10, 11, 'n', 'a', 'f', 'c', 'd', 'e'}

# check if key already exist in dictionary.

In [ ]:
friends={"nishant":"niku", "nikita": "niki", "nidhi": "shivani", "chandan": "golu"}

n=input("enter the key here")

for i in friends:
    if n in i:
        print(n,"key presented in the dict.")

In [ ]:
friends={"nishant":"niku", "nikita": "niki", "nidhi": "shivani", "chandan": "golu"}

n=input("enter the key here")

if n in friends.keys():
    print("key found")
else:
    print("not found")

# get the last element of the list

In [313]:
list=[2,4,5,6,76,57,34,89,23]
list2=["nishant", "ironman","huk","thor","baggi","captain america","wanda","ultron"]
print(list[-1])
print(list2[-1])

23
ultron

# get substring of the string

In [311]:
list="i am data analyst"
substring="data"
print(list[5:9])

data

# randomy selecet emlement from the list

In [315]:
import random
list=[1, 'a', 3, 'b', 5, 6, 'c', 8, 9, 2, 10, 11, 'f', 'n', 'e', 'd']

rand=random.choice(list)
print(rand)

d

# count the occurence of the items in a list & string

In [317]:
list=[10,20,45,77,90,10,55,34,67,20]

occur=list.count(20)
print(occur)

print()

string=input("enter your text here")
text=input("find text")
st=string.count(text)
print(st)

2

enter your text here nishant
find text n

2

In [319]:
list=[10,20,45,77,90,10,55,34,67,20]
kv={}
for i in list:
    kv[i]=list.count(i)
print(kv)

{10: 2, 20: 2, 45: 1, 77: 1, 90: 1, 55: 1, 34: 1, 67: 1}

In [ ]:
list="nishant"
kv={}
for i in list:
    kv[i]=list.count(i)
print(kv)

In [ ]:
list=[10,20,45,77,90,10,55,34,67,20]

for i in list:
    print(i,list.count(i))

# delete an element from the dictionary

In [ ]:
friends={"nishant":"niku", "nikita": "niki", "nidhi": "shivani", "chandan": "golu"}
print(friends)
item=friends.pop("nishant")
print(friends)

# conveet two list into a dictionary / tuple

In [ ]:
# using zip and dictionary methods:
a=[1,2,3,4,5]
b=["a","b","c","d","f"]

d=zip(a,b)
print(dict(d))

In [ ]:
a=[1,2,3,4,5]
b=["a","b","c","d","f"]
d=zip(a,b)
print(tuple(d))

In [ ]:
# using zip and list comprehension methods:
a=[1,2,3,4,5]
b=["a","b","c","d","f"]

d={k:v for k,v in zip(a,b)}
print(d)

# trim whitespace from a string

In [ ]:
s="nishant is a god boy       "
a=s.strip()
a

# iterate through two lists in parallel

In [321]:
l1=["nishant","nidhi","nikita","chandan"]
l2=["niku", "shivani", "niki","golu"]


for x,y in zip(l1,l2):
    print(x,": ",y)

# print(tuple(zip(l1,l2)))

nishant :  niku
nidhi :  shivani
nikita :  niki
chandan :  golu

# reverse a number

In [323]:
n=int(input("enter number"))
st=str(n)
k=st[::-1]
m=int(k)
print(m,type(m))

enter number 1234

4321 <class 'int'>

In [325]:
n=int(input("enter number"))
st=str(n)[::-1]
print(int(st))

enter number 1234

4321

In [327]:
#  using while loop
n=int(input("enter number"))
rev=0

while n!=0:
    digi=n%10
    rev=rev*10+digi
    n=n//10
print(rev)

enter number 1234

4321

# compute the power of a number

In [329]:
base=int(input("enter base number"))
exponent=int(input("enter Exponent number"))

result =1
while exponent !=0:
    result=result*base
    exponent=exponent-1
print(result)

enter base number 10
enter Exponent number 2

100

In [ ]:
base=int(input("enter base number"))
exponent=int(input("enter Exponent number"))

res=1
for i in range(exponent,0,-1):
    res=res*base
print(res)

In [ ]:
base=int(input("enter of power of number"))
Exponent=int(input("enter nth value"))
for i in range(0,Exponent+1):
    print("power of",base,"is: ",i," =" ,base**i)

# count the number of digit present in the number.

In [331]:
n=12345
print(len(str(n)))

5

In [337]:
n=12345
count=0
while n!=0:
    n=n//10
    count=count+1
print(count)

5

# check two string are anagrams

In [339]:
a=input("enter your first string")
b=input("enter your second string")

len_a=len(a)
len_b=len(b)
a1=sorted(a)
b2=sorted(b)

if a1 == b2 and len_a ==len_b:
    print("String is Anagrams")
else:
    print("String is Not Anagrams")

enter your first string nishant
enter your second string nishant

String is Anagrams

In [341]:
a=input("enter your first string")
b=input("enter your second string")

if (set(a)==set(b)):
        print("String is Anagrams")
else:
    print("String is Not Anagrams")

enter your first string radar
enter your second string raadr

String is Anagrams

# capitalize the first character of a string

In [ ]:
st="nishant"
print(st.title())

In [ ]:
st="nishant"
print(st[0].upper()+st[1:])

In [ ]:
st="nishant"
print(st.capitalize())

In [ ]:
st="nishant is good boy"

k=" "
for i in st.split( ):
    k=k+(i[0].upper()+i[1:])
print(k)
# st
# print(st[0].upper()+st[1:])

# find the occurance of a character in string

In [343]:
string="nishant"
char="n"
count=0
for i in string:
    if i ==char:
       count+=1
print(count)

2

In [345]:
string="nishant"
print(string.count("n"))

2

# remove duplicate element from list

In [ ]:
list=[1,2,3,3,4,5,6,7,3,2,1]
print(set(list))

In [ ]:
l=[1,2,3,3,4,5,6,7,3,2,1]
x=[1,2,3,3,4,9,8,10,11,2,1]

non_repet=( (set(l)^set(x) ))
print(non_repet)

# Odd Even

In [ ]:
n=2
if n%2==0:
    print("even")
else:
    print("odd")

In [ ]:
# even number
for i in range(0,10+1):
    if i%2==0:
        pass
        print(i)

In [ ]:
# odd number
for i in range(0,10+1):
    if i%2!=0:
        pass
        print(i)

In [ ]:
# store even and odd number in list.
odd=[]
even=[]
for i in range(0,10+1):
    if i%2!=0:
        odd.append(i)
    else:
        even.append(i)

print("odd numbers",odd)
print("even numbers",even)

In [ ]:
# sum of all even number and odd number

oddsum=0
evensum=0
for i in range(0,10+1):
    if i%2!=0:
        oddsum+=i
    else:
        evensum+=i
print(oddsum)
print(evensum)

In [ ]:
num=int(input("enter a number"))
print("even") if num%2==0 else print("odd")

In [ ]:
num=int(input("enter a number"))
check=("odd", "even") [num%2==0]
print(check)

# check if a number is multiple of 7 or not.

In [ ]:
num1=int(input("enter a number"))
if num1%7==0:
    print(num1,"is Multiple of 7")
else: 
    print(num1,"is not Multiple of 7")

In [ ]:
num1=int(input("enter a number"))
print(num1,"is Multiple of 7") if num1%7==0 else print(num1,"is Not Multiple of 7")

# accessing 2d list

In [ ]:
l=[1,2,3,4,5,[6,7]]

print(l[5][0])
print(l[-1][0])
print(l[-1][-2])

In [ ]:
L=[[[1,2],[3,4]],[[5,6],[7,8]] ]

print(L)
print(L[0])
print(L[1])
print()

print(L[0][0][1])
print(L[1][0][0])

In [ ]:
L=[1,2,3,4,5,6]

for i in L3:
    print(i)

In [ ]:
L2=[1,2,3,4,[5,6]]
for i in L2:
    print(i)

In [ ]:
L3=[[[1,2],[3,4]],[[5,6],[7,8]] ]
for i in L3:
    print(i)

# list Comprehension

new list = [ experssion "*for*" item "*in*" iterable "*if*" condition ==True  ]

list= [ i for i in range(0,11) if i%2==0 ]

># add 1 to 10 number into list

In [ ]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

In [ ]:
l=[ i for i in range(1,11) ]
print(l)

> # odd even with list Comprehension

In [ ]:
list= [ i for i in range(0,11) if i%2==0 ]
print(list)

In [ ]:
list= [ i for i in range(0,11) if i%2!=0 ]
print(list)

> # scalar multiplication on a vector

In [ ]:
v=[1,2,3]
s=-3
x=[]
for i in v:
    x.append(i*s)
print(x)

In [ ]:
v=[1,2,3]
s=-3

l=[i*s for i in v]
print(l)

># add square  & cube of the list

In [ ]:
l=[1,2,3,4,5]

for i in l:
    print(i**2)

In [ ]:
l=[1,2,3,4,5]

k=[i**2 for i in l ]
print(k)

># print all number divisible by 5 in the ranee of 1 to 50

In [ ]:
div=[i for i in range(0,51) if i%5==0]
print(div)

># print all number divisible by 7 and not divisible by 2 in the range of 1 to 50

In [ ]:
div=[i for i in range(0,51) if i%7==0 and i%2!=0]
print(div)

> # find word which start with letter p

In [ ]:
word=["java","python","php","c","javascript"]

[i for i in word if i.startswith("p")]

> # nested if with list comprehension

basket=["apple", "guava", "cherry", "banana"] <br>
my_fruit=["apple", "kiwi", "grapes", "banana"]

># add new list from my_fruit and items if the fruit exist in basket and also start with p

In [347]:
basket=["apple", "guava", "cherry", "banana"]
my_fruit=["apple", "kiwi", "grapes", "banana"]

k=[i for i in my_fruit] # show  all fruits list in my_fuits
l=[i for i in my_fruit if i in basket] # check existing fruits in basket 
m=[i for i in my_fruit if i in basket if i.startswith("a")] # check existing fruits starts with "a"
print(k)
print(l)
print(m)

['apple', 'kiwi', 'grapes', 'banana']
['apple', 'banana']
['apple']

> # print(3.3) matrix using the list comprehension | nested list comprehension

In [349]:
m=[]
for i in range(1,4):
    for k in range(1,4):
        m.append(i*k)
print(m)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [351]:
[[i*k for i in range(1,4)] for k in range(1,4) ]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
[[i for i in range(1,4)] for k in range(1,4) ]

In [ ]:
[[i for i in range(1,4)]*k for k in range(1,4) ]

> # certasion product -> list comprehension of 2 list.

In [ ]:
l1=[1,2,3,4]
l2=[5,6,7,8]

k=[i*j for i in l1 for j in l2]
print(k)

# 2 way to travese a list

- itemwise
- indexwise

> # itemwise

In [ ]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

> # indexwise

In [ ]:
l=[10,20,30,40,50,60]
for i in range(len(l)):
    print(i,l[i])

# add items of 2 lists index wise

In [353]:
l1=[1,2,3,4,5,6]
l2=["a","b","c","d","e","f"]
print(zip(l1,l2)) # will create zip object to show the object data need to do typcasting into list, dict & tuples
list(zip(l1,l2))

<zip object at 0x0000013B3D897340>

TypeError: 'list' object is not callable

In [355]:
dict(zip(l1,l2))

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

In [357]:
tuple(zip(l1,l2))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'))

# print 2 to 5 table through dictionary comprehension

In [ ]:
{i:{j for j in range(1,11)} for i in range(2,5)}

In [ ]:
# cube of 2 to 5
{i:{i**j for j in range(1,11)} for i in range(2,5)}

In [ ]:
# table 2 to 5
{i:{i*j for j in range(1,11)} for i in range(2,5)}

In [ ]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

# lambda function

In [367]:
# lambda variable 1, variable 2 : operation (variable 1 + variable2)
k=lambda a:a**2
k(2)

4

In [369]:
k=lambda a,b: a+b
k(2,3)

5

In [371]:
k=lambda a,b: a*b
k(2,3)

6

In [373]:
k=lambda a,b,c: a*b+c
k(2,3,5)

11

In [375]:
# check if a string has a

st=lambda s: "k" in s
st("Nishant")

False

In [377]:
# odd even

e=lambda k : "even" if k%2==0 else "odd"
e(10)

'even'

In [379]:
# higher order function: where one function called inside the another function.
def transform(f,l):
    output=[]
    for i in l:
        output.append(f(i))

    print(output)

l=[1,2,3,4,5]
transform(lambda x:x**2,l)

[1, 4, 9, 16, 25]

In [381]:
l=[1,2,3,4,5]
transform(lambda x:x**3,l)

[1, 8, 27, 64, 125]

# Map

In [384]:
l=[1,2,3,4,5]
list(map(lambda x: x*2,l))

TypeError: 'list' object is not callable

In [386]:
l=[1,2,3,4,5]
list(map(lambda x: x**2,l))

TypeError: 'list' object is not callable

In [388]:
list(map(lambda x: x**2,list(range(1,10+1))))

TypeError: 'list' object is not callable

In [390]:
list (map (lambda function variable : condition, value of variable ))
list (map (lambda x: "even" if x%2==0 else "odd",list(range(1,10+1))))

SyntaxError: invalid syntax (2751723456.py, line 1)

#extract name from the give list inside the dictionary using comprehension

In [393]:
user=[{"name":"Nishant",
      "age":25,
      "gender":"Male"},
      
      {"name":"Nikita",
      "age":26,
      "gender":"female"},
      
      {"name":"Nidhi",
      "age":28,
      "gender":"Female"} ] 

list(map(lambda user:user["name"],user))

TypeError: 'list' object is not callable

In [395]:
# 2d Dictionary
user=[{"1":{"name":"Nishant",
      "age":25,
      "gender":"Male"}},

      {"2":{"name":"Nikita",
      "age":26,
      "gender":"female"}},
      
      {"3":{"name":"Nidhi",
      "age":28,
      "gender":"Female"}}
      
       ] 

# error
# list(map(lambda user:user["0"]["name"],user))

#solution:
list(map(lambda user:list(user.values())[0]["name"],user))

TypeError: 'list' object is not callable

In [397]:
list(map(lambda user:list(user.values())[0]["name"].title(),user))

TypeError: 'list' object is not callable

# filter

In [400]:
list(filter(lambda x:x>5,list(range(1,10+1))))

TypeError: 'list' object is not callable

In [402]:
fruits=["apple","mango", "grapes","avocado", "orange", "banana", "pineapple", "kiwi", "iceapple"]

list(filter(lambda x: x.startswith("a"),fruits ))

TypeError: 'list' object is not callable

In [ ]:
list(filter(lambda x: x.endswith("e"),fruits ))

# Reduce

In [ ]:
import functools
# sum of list
functools.reduce(lambda x,y:x+y,[1,2,3,4,5,6,7,8,9,10])

In [ ]:
functools.reduce(lambda x,y:x+y,list(range(1,5)))

In [ ]:
functools.reduce(lambda x,y:x*y,list(range(1,5)))

In [ ]:
# min
functools.reduce(lambda x,y: x if x<y else y, [12,2,34,56,78,32,5] )

In [ ]:
# max
functools.reduce(lambda x,y: x if x>y else y, [12,2,34,56,78,32,5] )

# 2d dictionary access:

In [ ]:
m = {"name": "nishant", "age": 25, "city": "delhi"}
id = 1
k = {id: m}  
# dictionary will look like
# k= {1: {"name": "nishant", "age": 25, "city": "delhi"} }
print(id)
for key, value in k[id].items():
    print(key, ":", value)

In [ ]:
for key, value in k.items():
    for subkey, subvalue in value.items():
        print(subkey, ":", subvalue)

# User will input (3ages).Find the oldest one

In [ ]:
person1=int(input("enter your age"))
person2=int(input("enter your age"))
person3=int(input("enter your age"))

if person1>person2 and person1>person3:
    print("person1 is older")
elif person2>person3:
    print("person2 is older")
else:
    print("person3 is older")

# Write a program that will give you the sum of 3 digits

In [406]:
num=int(input("enter number"))
sum=0
i=0
while num>0:
    a=num%10
    sum=sum+a
    num=num//10
print(sum)

enter number 134

8

In [ ]:
num=int(input("enter number"))

a=(num%10) # 134 %10 = 4
num=num//10 # 134//10=13
b=num%10 # 13 % 10 = 3
c=num//10 # 13 //10 = 1

sum=a+b+c
print(sum)

# 27 july 2024

# Write a program that will reverse a four digit number.Also it checks whether the reverse is true

In [410]:
num=int(input("enter number"))
rev_num=str(num)
reverse=rev_num[::-1]

if reverse == str(num):
    print("reverse true")
else:
    print("not reverse")

enter number 121

reverse true

# Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn

In [412]:
n=input("enter number")
nn=n+n
nnn=n+n+n
print(n+"+"+nn+"+"+nnn)
sum=int(n)+int(nn)+int(nnn)
print(sum)

enter number 2

2+22+222
246

# Write a program that will tell whether the number entered by the user is odd or even.

In [ ]:
num=int(input("enter a number"))

if num%2==0:
    print("even")
else:
    print("odd")

# Write a program that will tell whether the given year is a leap year or not.

In [ ]:
year=int(input("enter year"))

if year%4==0:
    print("leap year")
else:
    print("not leap year")

# Write a program to find the euclidean distance between two coordinates.

In [ ]:
x2=int(input("enter number"))
x1=int(input("enter number"))
y2=int(input("enter number"))
y1=int(input("enter number"))
ed=(x2-x1)**2+(y2-y1)**2
print(ed)

# Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.

In [ ]:
#a+b+c=180
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))

if a+b+c==180 and a!=0 and b!=0 and c!=0:
    print("Triangle possible")
else:
    print("Triangle not possible")

# Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [ ]:
cost=int(input("enter number"))
selling_price= int(input("enter number"))

if cost<selling_price:
    print("Profit",selling_price-cost)
else:
    print("Loss", selling_price-cost)

# Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [ ]:
P=int(input("enter amount number"))
R=int(input("enter interest rate number"))
T=int(input("enter year"))
si=(P * R* T)/100
total=P+si
print("total amount is: ", total)

# Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs

In [ ]:
# 2pie r**2 h
radius=int(input("enter radius"))
height=int(input("enter height"))

vol = 3.14 * (radius**2) * height
print(vol)

milk_cost=vol/1000*40
print(milk_cost)

# Write  a program that will tell whether the given number is divisible by 3 & 6.

In [ ]:
num=int(input("enter number"))

if num%3==0 and num%6==0:
    print("divisible")
else:
    print("not divisible")

# WAP to find the angle between the hourse and miutes

In [414]:
hours=9
minute=10
hour_ang= 360-hours
min_ang = 360-minute
ang=(hour_ang/60,min_ang/60)
ang

(5.85, 5.833333333333333)

#	Write a program that will determine weather when the value of temperature and humidity is provided by the user.
TEMPERATURE(C)      HUMIDITY(%)      WEATHER

      >= 30                             >=90                Hot and Humid
      >= 30                             < 90                 Hot
      <30                                >= 90               Cool and Humid
      <30                                 <90                 Cool

In [ ]:
temp=int(input("enter wheter temprature"))
humid=int(input("enter wheter humidity"))
if temp<30 and humid <90:
    print("cool")
elif temp<30 and humid>=90:
    print("cool and humid")
elif temp >=30 and humid<90:
    print("Hot")
elif temp>=30 and humid>=90:
    print("Hot and humid")

# Write a program that will take three digits from the user and add the square of each digit.

In [ ]:
num=int(input("enter a number"))

sum=0
i=0
while num>i:
    k=num%10
    sum=sum+k**2
    num=num//10
print(sum)

# Write a program that will check whether the number is armstrong number or not.

In [ ]:
num=input("enter a number")
sum=0
k=""
for i in num:
    k=int(i)
    sum+=int(k**len(num))
print(sum)

if sum==int(num):
    print("number is armstrong")
else:
    print("not aramstrong")

# Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [ ]:
# narcissist number also called as aramstrong number.
num=input("enter a number")
sum=0
k=""
for i in num:
    k=int(i)
    sum+=int(k**len(num))
print(sum)

if sum==int(num):
    print("number is narcissist")
else:
    print("not narcissist")

# Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh10%),(11-20lakh20%),(20< _    30%)(0-1lakh print k).

In [ ]:
salary=int(input("enter your salary"))
if 0<salary<100000:
    print(salary)
elif 500000 < salary <=1000000:
    print("deduction:",salary//10, "in hand salary:", salary-(salary//10))
elif 100000< salary <=2000000:
    print("deduction:",salary//20, "in hand salary:", salary-(salary//20))
elif 2000000 <salary >=3000000:
    print("deduction:",salary//30, "in hand salary:", salary-(salary//30))


# Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

In [ ]:
menu=input("""
1. cm to ft
2. kl to miles
3. usd to inr
""")
if menu=="1":
    cm=int(input("enter cm to convert into ft"))
    feet=cm//30.48
    print(cm,"CM is",feet, "Feet")
elif menu=="2":
    km=int(input("enter km to convert into mile"))
    miles=km//1.609
    print(km,"km is",miles, "Miles")
elif menu=="3":
    USD=int(input("enter USD to convert into INR"))
    INR=USD*83.72
    print(USD,"USD is",INR, "Rs.")
else:
    print("wrong choice")

# Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

In [ ]:
leg = int(input("enter leg count"))
head = int(input("enter head count "))

dog=(leg/2)-head
chicken=head-dog
print("Total dogs: ",dog)
print("Total chiken: ",chicken)

# Write a program that will swap numbers

In [ ]:
num1=int(input("enter 1st number"))
num2=int(input("enter 2nd number"))
print("before swap: ",num1, num2)
num1,num2=num2,num1
print("after swap: ",num1, num2)

# Write a program to find the sum of first n numbers, where n will be provided by the user. Eg if the user provides n=10 the output should be 55.

In [ ]:
n=10
sum=0
for i in range(n+1):
    sum=sum+i
print(sum)

# Write a program that can multiply 2 numbers provided by the user without using the * operator

In [ ]:
num1=int(input("enter 1st number"))
num2=int(input("enter 2nd number"))
sum=0
for i in range(0,num1):
    sum=sum+num2
    print(sum)
# print(sum)

# Write a program that can find the factorial of a given number provided by the user.

In [ ]:
num=int(input("enter a number"))
fact=1

for i in range(1,num+1):
    fact=fact*i
print(fact)

# Write a program to print the first 25 odd numbers

In [ ]:
count=0
for i in range(0,100):
    if i%2!=0:
        print(i)
        count+=1
        if count==25:
            break

# Write a program to print whether a given number is prime number or not

In [ ]:
n=int(input("enter number"))
b=1
for i in range(2,n):
    if n%i==0:
        b=0
if b==1:
    print("number is prime")
else:
    print("number is not prime")

# Print all the armstrong numbers in the range of 100 to 1000

In [ ]:
for num in range(100,100000):
    num2=str(num)
    sum=0
    temp=num
    while temp>0:
        digit=temp%10 
        square=digit**len(num2) 
        sum=sum+square 
        temp = temp//10 
    
    if sum==num:
        print(num)

# The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years. For eg current population is 10000 so the output should be like this:
10th year - 10000   
9th year - 9000    
8th year - 8100 and so on

In [ ]:
current_pop=10000
count=1
new_pop=""
for i in range(1,11):
    current_pop=current_pop-(current_pop//10)
    count=+1
    new_pop=current_pop
    print(i,"Population:", new_pop,"\n")

# Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
for i in range(1,5):
    for k in range(1,5):
        for j in range(1,5):
            for m in range(1,5):
                if i!=k and i!=j and i!=m:
                    print(i,k,j,m)

# User will provide 2 numbers you have to find the HCF of those 2 numbers

In [ ]:
# first take reminder and than swap the number 

num1=int(input("enter num1 number"))
num2=int(input("enter num2 number"))

i=0
while num1%num2!=0:
    rem=num1%num2
    num1=num2
    num2=rem
print(num2)

# User will provide 2 numbers you have to find the by LCM of those 2 numbers

In [ ]:
# first take reminder and than swap the number than multiply num1 & num2 / hcf
num1=int(input("enter num1 number"))
num2=int(input("enter num2 number"))

i=0
while num1%num2!=0:
    rem=num1%num2
    num1=num2
    num2=rem
hcf =num2

lcm=(num1*num2)/hcf
print(lcm)

# Print first 25 prime numbers

In [ ]:
count=0
for i in range(0,1000):
    b=1
    for k in range(2,i):
        if i%k==0:
            b=0
    count+=1  
    if count==25:
        break
    if b==1:
        print(i)  
    if count>25:
        break

# Print the first 20 numbers of a Fibonacci series

In [ ]:
a=0
b=1

for i in range(0,21):
    a,b=b,a+b
    print(a,end=" ")

# Write a program to find the compound interest

In [ ]:
P=int(input("enter Principal amount"))
R=int(input("enter Rate of Interest"))
T=int(input("enter Time (in years)"))
# A = P*(1 + R/100)**T
A=P*(1+R/100)**T
print("Your amount is:",A)
ci=A-P
print("Compount Interest",ci)

# Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [ ]:
n=input("enter number")

k=n+" + "+n+n+" + "+ n+n+n+" + "+n+n+n+n+" + "+n+n+n+n+n
print(k)

In [ ]:
n = int(input("Enter an integer: "))

total = 0

for i in range(1, 4):
    num = int(str(n) * i)
    total += num
print("The value of n+nn+nnn is:", total)

# Write a function to interleave two strings of the same length.
Input : "abc", "123"  # Output: "a1b2c3"

In [ ]:
a="abc"
b="123"
interleave=''
for i in a,b:
    k=a[0],b[0],a[1],b[1],a[2],b[2]
    interleave=str("".join(k))
print(interleave)

# Take a number from the user and find the number of digits in it.

In [ ]:
num=int(input("enter a number"))
find_num=int(input("find the number"))

if str(find_num) in str(num):
    print("value find")
else:
    print("value not found")

# Print all factors of a given number provided by the user

In [418]:
num=int(input("enter number"))

for i in range(1,num+1):
    if num%i==0:
        print(i)

enter number 10

1
2
5
10

# Find the reverse of a number provided by the user(any number of digit

In [422]:
number=int(input("enter number"))
rev=str(number)
print(rev[::-1])

enter number 56

65

# Write a program to print the following pattern
    *    
    **   
    ***   
    ****   
    *****

In [424]:
for i in range(0,6):
    print("")
    for j in range(0,i):
        print("*",end="")

*
**
***
****
*****

# Write a program to print the following pattern
    *
    **
    ***
    **
    *

In [426]:
for i in range(0,3):
    print("")
    for j in range(0,i):
        print("*",end="")
for i in range(3,0,-1):
    print("")
    for j in range(0,i):
        print("*",end="")

*
**
***
**
*

# Write  a program to print the following pattern
            *
          * * *
        * * * * *
       * * * * * * *
    * * * * * * * * *

In [428]:
height = int(input("Enter the height of the pyramid: "))

# Print the pyramid
for i in range(height):
    # Print spaces for the left side of the pyramid
    print("  "* (height - i - 1), end="")
    # Print stars for the pyramid
    print("* " * (2 * i + 1))

Enter the height of the pyramid:  6

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

In [430]:
for i in range(0,5):
    print()
    for j in range(0,5):
        print(j*i,end=" ")

0 0 0 0 0
0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16

# Write a program to print the following pattern
    1
    1 2 1
    1 2 3 2 1
    1 2 3 4 3 2 1
    1 2 3 4 5 4 3 2 1

In [446]:
for i in range(1,6):
    print()
    for k in range(1,i):
        print(k,i-1,end=" ")
    print()

1 1

1 2 2 2

1 3 2 3 3 3

1 4 2 4 3 4 4 4

# Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum=0
while True:
    user=int(input("enter number"))
    k=user
    if user==0:
        print("winner!")
        break      
    else:
        sum=sum+k
print(sum)

# Extract username from a given email. 
Eg if the email is nitish24singh@gmail.com then the username should be nitish24singh

In [448]:
st="nitish24singh@gmail.com"
k=st.split("@")
print("username:",k[0])

username: nitish24singh

# Count the frequency of a particular character in a provided string. Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [450]:
st='hello how are you'
find="e"
print("Frequency of ",find,"is:",st.count(find))

Frequency of  e is: 2

# Find the index position of a particular character in another string.

In [452]:
st='hello how are you'
ind="e"
print("index number of",ind,"is:",st.index(ind))

index number of e is: 1

# Count the number of vowels in a string provided by the user.

In [ ]:
st=input("enter string").lower()
vowel="aeoui"

count=0
for i in st:
    if i in vowel:
        count+=1
print(count)

# Write a program which can remove a particular character from a string.

In [ ]:
st='hello how are you'
ind="e"
print(st.replace(ind,""))

# Write a program that can check whether a given string is palindrome or not.

In [ ]:
st="wow"
new_st=st[::-1]
if st==new_st:
    print("palindrome")
else:
    print("not palindrome")

# Write a python program to remove all the duplicates from a list (pending)

In [ ]:
list=[1,2,3,4,5,6,7,7,6,5,4,7,4,3,9,2]
print(set(list))

In [ ]:
list=[1,2,3,4,5,6,7,7,6,5,4,7,4,3,9,2]
k=[]
for i in list:
    if i not in list:
        k.append(i)
print(k)

# Write a python program to convert a string to title case without using the title() (pending)

In [454]:
st="nishant is good boy"
k=st.split()
j=""
for i in k:
    print(i.capitalize(),end=" ")
#     j+=("".join(i.capitalize()))
# print(j)

Nishant Is Good Boy

# Write a python program to find the max item from a list without using the max function

In [ ]:
l=[1,2,3,4,5]

for i in l:
    if i>l[0] and i<l[0]:
        print(i)

# Write a python program to reverse a list

In [ ]:
l=[1,2,3,4,5]
l[::-1]

# Write a python program to search a given number from a list

In [ ]:
l=[1,2,3,4,5,7,90,56,45,43,67]
k=45
if k in l:
    n=l.index(k)
print("index number of",k,"is: ",n)

# Write a program that can create a new list from a given list where each item in the new list is square of the item of the old list

In [ ]:
l=[1,2,3,4,5,6,7,8]

k=[]
for i in l:
    k.append(i**2)
print(k)

# Write a program that can reverse words of a given string.
Eg if the input is Hello how are you      
Output should be you are how Hello

In [ ]:
st="Hello how are you"
k=st.split()
print(k)
m=k[::-1]
print(" ".join(m))

# Write a program that can count the number of words in a given string

In [ ]:
n="nishant kumar"
k={}
for i in n:
    k[i]=n.count(i)
print(k)

# Write a program to check if a list is in ascending order or not

In [ ]:
l=[1,2,3,4,5,6,7]
# l=[1,2,7,3,4,8,9,5,6]
k=l
k.sort()
if l != k:
    print("ascending")
else:
    print("Not ascending")

# Create 2 lists from a given list where 1st list will contain all the odd numbers from the original list and the 2nd one will contain all the even numbers

In [ ]:
import numpy as np
l=np.random.randint(0,100,20)
print(l)
odd=[]
even=[]

for i in l:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("even numbers: ",even)
print("odd numbers: ",odd)

# Write a program to merge 2 list without using the + operator

In [ ]:
l1= [40, 98, 90, 86, 10, 32, 24, 96, 6, 40, 34]
l2=  [81, 89, 11, 3, 9, 11, 55, 3, 59]
l3=[]
    
l3.extend(l1)
l3.extend(l2)
print(l3)

# Write a program to replace an item with a different item if found in the list

# Write a program that can convert a 2D list to 1D listWrite a program that can print

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
n=np.ravel(l)
print(n)

# Write a program that can perform union and intersection on 2 given list.

In [ ]:
l1=np.random.randint(0,10,8)
l2=np.random.randint(0,10,9)
print(l1)
print(l2)

In [ ]:
print(set(l1)|set(l2))

In [ ]:
l1=[2, 3, 7, 1, 7, 4, 2, 5]
l2=[4, 3, 3, 2, 9, 9, 6, 6, 4]

print((set(l1)).union(set(l2)))
print((set(l1)).intersection(set(l2)))

# the max item of each row of a matrix.

In [ ]:
k=np.random.randint(0,100,12).reshape(3,4)
print(k)
np.max(k,axis=1)

# Write a program that can convert an integer to string

In [ ]:
a=10
m=str(a)
print(m,type(m))

# Write a program to print the shape of a matrix.

In [ ]:
k=np.random.randint(0,100,12).reshape(3,4)
print(k)
np.shape(k)

# Write a program that can check if you can perform matrix multiplication on 2 matrices

In [ ]:
m1=np.random.randint(0,100,12).reshape(3,4)
print(m1)
print()
m2=np.random.randint(0,100,12).reshape(3,4)
print(m2)
print()
print(m1*m2)

# Write a program that can sort a given unsorted list. Dont use any built in function for sorting.

In [458]:
l=[10,11,15,17,4,89,67,54,0,87]
k=[]
for i in l:
    if l[i]==i:
        k.append(l[0])
print(k)

IndexError: list index out of range

# Write a program that can find the most used word in a bollywood song

In [456]:
word="bollywood"
us={}
for i in word:
    k=word.count(i)
    us[k]=i
print(us)
print("Most used word in",word,":",max(us.keys()),":",max(us.values()))

{1: 'd', 3: 'o', 2: 'l'}
Most used word in bollywood : 3 : o

# Assume a list with numbers from 1 to 10 and then convert it into a dictionary where the key would be the numbers of the list and the values would be the square of those numbers.

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
di={}

for i in list:
    k=i**2
    di[i]=k
print(di)

# Write a program to merge two given dictionary

In [460]:
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
d2={6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Write a function that accepts a string and returns the number of upper case chars and lower case chars as a dictionary

In [462]:
string="NishaNT KumaR"
upper=0
lower=0
di={}
for i in string:
    if i.isupper():
        upper+=1
        di["upper"]=upper
    elif i.islower():
        lower+=1
        di["lower"]=lower

print(di)

{'upper': 5, 'lower': 7}

# Write a dummy program that can perform login and registration using a menu driven program

In [ ]:
b=input("""
1. Registration
2. Login
""")
id="nishant"
password="0000"

if b=="1":
    name=input("enter your name")
    id=input("enter your email id")
    password=input("enter your password")
    print("Registration Done")
elif b=="2":

    login_id=input("enter your email id")
    login_pass=input("enter your password")
    if login_id==id and login_pass==password:
        print("login successfully.........")
    else:
        print("wrong pass")

In [ ]:
for i in range(5):
    print("*" * 5)

print()
for i in range(5):
    print("*" * (i*1) )

print()
for i in range(5):
    print(" " * (4-i) + "*" * (i+1))

print()
for i in range(5):
    print(" " * (4-i) + "*" * (2*i+1))
print()

for i in range(5):
    print(" " * i + "*" * (9-2*i))
print()
for i in range(5):
    print(" " * (4-i) + "*" * (2*i+1))
for i in range(4):
    print(" " * (i+1) + "*" * (9-2*i))

Here are some common star patterns in Python, along with explanations:

1. Simple Star Pattern

# Print a simple star pattern
for i in range(5):
    print("*" * 5)

Explanation: This code prints a 5x5 grid of stars.

2. Right Triangle Star Pattern

# Print a right triangle star pattern
for i in range(5):
    print("*" * (i+1))

Explanation: This code prints a right triangle of stars, with each row having one more star than the previous row.

3. Left Triangle Star Pattern

# Print a left triangle star pattern
for i in range(5):
    print(" " * (4-i) + "*" * (i+1))

Explanation: This code prints a left triangle of stars, with each row having one more star than the previous row, and spaces added to align the stars to the left.

4. Pyramid Star Pattern

# Print a pyramid star pattern
for i in range(5):
    print(" " * (4-i) + "*" * (2*i+1))

Explanation: This code prints a pyramid of stars, with each row having two more stars than the previous row, and spaces added to center the pyramid.

5. Inverted Pyramid Star Pattern

# Print an inverted pyramid star pattern
for i in range(5):
    print(" " * i + "*" * (9-2*i))

Explanation: This code prints an inverted pyramid of stars, with each row having two fewer stars than the previous row, and spaces added to center the pyramid.

6. Diamond Star Pattern

# Print a diamond star pattern
for i in range(5):
    print(" " * (4-i) + "*" * (2*i+1))
for i in range(4):
    print(" " * (i+1) + "*" * (9-2*i))

# Write a program to calculate the sum of the following series till the nth term
1/1! + 2/2! + 3/3! + 4/4! +.+ n/n!    
n will be provided by the user

In [464]:
k=int(input("enter a number here"))
sum=0

for n in range(1,k+1):
    fact=1
    for i in range(1,n+1):
        fact=i*fact
        sum+=fact
    print(i,"/",fact,end="! +")
print()
print(",sum of factorial is: ",sum)

enter a number here 6

1 / 1! +2 / 2! +3 / 6! +4 / 24! +5 / 120! +6 / 720! +
,sum of factorial is:  1072

# Write a Python Program to Find the Sum of the Series till the nth term: 
1 + x^2/2 + x^3/3 +  x^n/n     
n will be provided by the user

In [466]:
n=int(input("enter number"))
sum=0
for i in range(1,n+1):
    sum=i**n/i
    print(sum) 

print("sum of series of n is :",int(sum))

enter number 7

1.0
64.0
729.0
4096.0
15625.0
46656.0
117649.0
sum of series of n is : 117649

In [468]:
n=int(input("Enter  number :"))
for i in range(1,n+1):
    if i==1:
        print(i,end="+")
    elif i==n:
        print(i,"^",n,"/",n,sep="")
    else:
        print(n,"^",i,"/",i,sep="",end="+")

Enter  number : 6

1+6^2/2+6^3/3+6^4/4+6^5/5+6^6/6

# Write a program that accepts 2 numbers from the user a numerator and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be      
Eg if the num = 6, den = 9 the answer should be

In [470]:
num=6
den=9

print(num/den)

0.6666666666666666

# The natural logarithm can be approximated by the following series.
 
If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series.     
(x-1/x) +1/2(x-1/x)**2 + 1/2(x-1/x)**3 + 1/2(x-1/x)**4 + 1/2(n-1/n)**nth

In [474]:
n=int(input("enter range of n: "))
x=int(input("enter value of x :"))

for i in range(1,n+1):
    (x-1/x)+1/2
    (x-1/x)**i[1] + 1/2*(x-1/x)**i[2] + 1/2*(x-1/x)**i[3]

enter range of n:  6
enter value of x : 6

TypeError: 'int' object is not subscriptable

In [ ]:
x = float(input("Enter the value of x: "))
n = int(input("Enter the value of n: "))

# Initialize the sum to 0
total = 0.0

# Calculate the sum of the series
for i in range(1, n+1):
    term = (x - 1/x)**i / i
    total += term

print(total)

# Write a function that accepts a list of strings and performs Bag of words and convert it to numerical vectors.

In [ ]:
a="nishant is good boy nishant is 26 year old nishant live in delhi delhi is very bad city"
a.split()
non=[]
for i in a.split():
    if i in non:
        pass
    else:
        non.append(i)
print(non)

In [ ]:
a="nishant is good boy nishant is 26 year old nishant live in delhi delhi is very bad city"
non=[non.append(i) for i in a.split() if i not in non ]
non

# ***pattern printing Questions***

In [476]:
for i in range(0,2):
    for k in range(0,2):
        for j in range(0,1):
            for m in range(0,1):
                print("i","k","j","m")

i k j m
i k j m
i k j m
i k j m

In [478]:
for i in range(0,2):
    for k in range(0,2):
        for j in range(0,1):
            for m in range(0,1):
                print("*","*","*","*")

* * * *
* * * *
* * * *
* * * *

# merge two dictionary and do the sum of values.

In [481]:
item1={
    "apple":2, "mango":3,"grapes":1
}

item2={
    "apple":1, "mango":3,"banana":1
}


d3={}
for i in item1:
    if i in item2.keys():
        d3[i]=item1[i]+item2[i]


print(d3)

{'apple': 3, 'mango': 6}

In [483]:
item1={
    "apple":2, "mango":3,"grapes":1
}

item2={
    "apple":1, "mango":3,"banana":1
}


for i in item1:
    if i in item2.keys():
        item1[i]=item1[i]+item2[i]


print(item1)

{'apple': 3, 'mango': 6, 'grapes': 1}

In [485]:
item1={
    "apple":2, "mango":3,"grapes":1
}

item2={
    "apple":1, "mango":3,"banana":1
}


for i in item1:
    if i in item2.keys():
        item2[i]=item1[i]+item2[i]


print(item2)

{'apple': 3, 'mango': 6, 'banana': 1}

In [487]:
item1={
    "apple":2, "mango":3,"grapes":1
}

item2={
    "apple":1, "mango":3,"banana":1
}


for i in item1:
    if i in item2.keys():
        item2[i]=item1[i]+item2[i]
    item2[i]=item1[i]

print(item2)

{'apple': 2, 'mango': 3, 'banana': 1, 'grapes': 1}